n8n/Course 2, Section 12_ Customer Feedback Form.json
{
  "name": "Course 2, Section 12: Customer Feedback Form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Customer Feedback Form",
        "formDescription": "Please tell us about your experience",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Please tell us your name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Please tell us your email",
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback",
              "fieldType": "textarea",
              "placeholder": "Please tell us your experience",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "61e92fb4-fd81-45db-9663-4456a69506e4",
      "name": "On form submission",
      "webhookId": "463dee7a-9c40-476e-8cc0-3ef00da51f6d"
    },
    {
      "parameters": {
        "inputText": "={{ $json.Feedback }}",
        "options": {
          "categories": "Positive, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        176,
        16
      ],
      "id": "9205dc06-f94e-4778-9648-eb7976b5e684",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        224
      ],
      "id": "0a503b43-a16d-46ae-a524-9fadfe87eda8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qN5WZwKkRdIk7puB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4",
          "mode": "list",
          "cachedResultName": "Created using n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 134282398,
          "mode": "list",
          "cachedResultName": "Course 2, Section 12: Customer Feedback Form (+ve)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4/edit#gid=134282398"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Name": "={{ $json.Name }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        -112
      ],
      "id": "a5caa0ab-98a5-4784-b8f5-7b8eab4f4d80",
      "name": "Positive Feedback",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bM5rJWjtx2N0tqwj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer support representative for an AI Automation Agency known as AdaptifyAI specialized in helping SME implement AI Agents and AI Automation solutions.\n\nWrite a friendly response to the customer feedback beloe. Format as HTML email and sign from Marc at AdaptifyAI. Return only HTML code, do not include ```html\n\nCustomer Name: {{ $('On form submission').item.json.Name }}\nFeedback: {{ $('On form submission').item.json.Feedback }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        720,
        -112
      ],
      "id": "8c6d6a4b-6254-4eba-b1a4-394b61b6df2e",
      "name": "Write Positive Response"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        736,
        48
      ],
      "id": "1c775c77-21dd-4429-b234-01defd93b828",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "qN5WZwKkRdIk7puB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer support representative for an AI Automation Agency known as AdaptifyAI specialized in helping SME implement AI Agents and AI Automation solutions.\n\nA client jst submitted feedback about our services which you can see below.\n\nPlease provide a concise suggestion on what AdaptifyAI cando to address their concerns and improve client  satisfaction in the future\n\nFeedback: {{ $('On form submission').item.json.Feedback }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        512,
        224
      ],
      "id": "6ee07941-53bc-41b2-a78b-5f2508c73ce8",
      "name": "Suggest Improvements"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4",
          "mode": "list",
          "cachedResultName": "Created using n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2057286748,
          "mode": "list",
          "cachedResultName": "Course 2, Section 12: Customer Feedback Form (-ve)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4/edit#gid=2057286748"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI Suggestion": "={{ $json.text }}",
            "Name": "={{ $('Sentiment Analysis').item.json.Name }}",
            "Email": "={{ $('Sentiment Analysis').item.json.Email }}",
            "Feedback": "={{ $('Sentiment Analysis').item.json.Feedback }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Suggestion",
              "displayName": "AI Suggestion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        224
      ],
      "id": "abfce154-a098-4fa6-a743-d34bfb723cae",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bM5rJWjtx2N0tqwj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Sentiment Analysis').item.json.Email }}",
        "subject": "Thank you so much for your feedback",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        -112
      ],
      "id": "c8fa1894-6d00-4e02-98b2-6817c3b5b3bd",
      "name": "Send a positive message",
      "webhookId": "e3269624-c61a-4ecf-8eca-6026547af6f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "R8hisuZ3jlTWK3vd",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append or update row in sheet').item.json.Email }}",
        "subject": "=We're sorry to hear this!",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1376,
        224
      ],
      "id": "db729a3c-6c2b-4359-a1b7-5886b6a14893",
      "name": "Send an apology message",
      "webhookId": "61906ee9-3852-474b-b751-6e9c698a6df4",
      "credentials": {
        "gmailOAuth2": {
          "id": "R8hisuZ3jlTWK3vd",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer support representative for an AI Automation Agency known as AdaptifyAI specialized in helping SME implement AI Agents and AI Automation solutions.\n\nWrite a friendly  and concise response to the followin customer feedback. \n\nThe email should thank the client for their feedback about the services, acknowledge thei concerns, and inform that this has been escalated to our management . Offer to extend their current autmaton package with one additional AI Agent integration at no extra charge.\n\n\nFormat as HTML email and sign from Marc at AdaptifyAI. Return only HTML code, do not include ```html\n\nCustomer Name: {{ $('On form submission').item.json.Name }}\n\nFeedback: {{ $('On form submission').item.json.Feedback }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1072,
        224
      ],
      "id": "1a48d4df-e42c-432e-9d38-93d7d9cf0d7c",
      "name": "Write Apology Response"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Positive Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Suggest Improvements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Positive Feedback": {
      "main": [
        [
          {
            "node": "Write Positive Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Positive Response": {
      "main": [
        [
          {
            "node": "Send a positive message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Write Positive Response",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Suggest Improvements",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Write Apology Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Suggest Improvements": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Write Apology Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Apology Response": {
      "main": [
        [
          {
            "node": "Send an apology message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cf971638-52cd-4956-8780-992a83164e2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3ae1f15c1fd749e1ae1e7f13926191397e2c291d4f162c57f67ad7e54f784ff"
  },
  "id": "89vdr316WU8Hbab7",
  "tags": []
}