n8n/Section 7_ Telegram Part 1.json
{
  "name": "Section 7: Telegram Part 1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a7aee0fa-d344-4087-a7ce-6de6f4848d54",
      "name": "Telegram Trigger",
      "webhookId": "34b2b0b6-50c0-4e4c-b64f-923fed499f4e",
      "credentials": {
        "telegramApi": {
          "id": "wa5tXStMQoLhJcWv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\n# You have the following tools:\n\n## search_agent\nUse this tool to search the web, hackernews and wikipedia"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "46bc0fb7-fd07-44cf-af43-a729109c1a92",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "4c1ee9dc-91ee-46cc-abb4-d86c864aea2b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qN5WZwKkRdIk7puB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "3b33f4cf-70f1-4cb9-b7de-69cc3b7a92bc",
      "name": "Send a text message",
      "webhookId": "850161bc-e6e0-47b8-b28e-921cfb0bd461",
      "credentials": {
        "telegramApi": {
          "id": "wa5tXStMQoLhJcWv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "c9ad2f85-c8d6-431b-8545-97e0ff05d602",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Use this tool to search the web, wikipedia, hackernews and up-to-date information.",
        "workflowId": {
          "__rl": true,
          "value": "AzO8WgUy8aLHWFsh3oIRf",
          "mode": "list",
          "cachedResultUrl": "/workflow/AzO8WgUy8aLHWFsh3oIRf",
          "cachedResultName": "Section 7: Telegram Part 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        368,
        208
      ],
      "id": "f8b14aa3-9df8-4210-8b3b-47380e491219",
      "name": "search_agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "search_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "177eed07-f358-4e63-bd55-c96a56c515b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3ae1f15c1fd749e1ae1e7f13926191397e2c291d4f162c57f67ad7e54f784ff"
  },
  "id": "BgwoTIBSYvaDxApoeZ-iI",
  "tags": []
}