n8n/Section 7_ Telegram Automation Part 2.json
{
  "name": "Section 7: Telegram Automation Part 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        80
      ],
      "id": "3aea0c1d-0dee-4f4a-b16a-ad25ee63f2e2",
      "name": "Telegram Trigger",
      "webhookId": "1cb22b65-75a5-4ed8-b9d9-0e4b5888f39a",
      "credentials": {
        "telegramApi": {
          "id": "wa5tXStMQoLhJcWv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "a181b626-f72b-4fe9-8310-28949148ee22"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "646b8911-a4cf-45b9-b433-d90c6b8c8187",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        96
      ],
      "id": "fab58732-7769-4feb-a8bf-9e6b66d2070b",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d1cb518-3261-4368-82c3-7c4c04d76b19",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "e58db29e-4651-4ee7-86ab-69eeaf1e8821",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant with access to multiple tools responsible to summarize and answer to user's questions.\n\n# Behavior\nYou respond in a friendly and approachable style.\n\n# Date & Time: {{ $now }}\n\n# Tools\nYou have access to multiple tools and always use the appropriate one depending on the task:\n\n## Gmail_Tool\nUse this tool every time you need to do something with mails. If you send an email, you sign every email with Shubham and never use empty placeholders for names. Make sure the emails are well-formatted with a proper body.\n\n\n## Calendar_Tool\nUse this tool everytime you need to do something with calendar. Make sure the response are well-formatted.\n\n\n## Search_Tool\nUse this tool search hackernews, Wikipedia and the web."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        16
      ],
      "id": "a80eeba7-6c14-46f0-98fd-18413fd87ec8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        512,
        272
      ],
      "id": "7dce6106-368c-4310-a8dc-b822299f02e3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qN5WZwKkRdIk7puB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        336
      ],
      "id": "3f02a6af-8ea3-4412-aa3c-df07ed0aefe6",
      "name": "Get a file",
      "webhookId": "c396160c-2dae-4c1d-9e22-d68457acdf90",
      "credentials": {
        "telegramApi": {
          "id": "wa5tXStMQoLhJcWv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        352,
        336
      ],
      "id": "cd09708c-8133-4424-9f99-1e534c3f991f",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "qN5WZwKkRdIk7puB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        624,
        432
      ],
      "id": "5473189f-7375-499d-a23b-2cbcaec0dfe0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        16
      ],
      "id": "0762578b-29d8-4148-bec5-250b633b60eb",
      "name": "Send a text message",
      "webhookId": "ffc2f0d9-226d-413c-bdd3-dcd6c4d12c0b",
      "credentials": {
        "telegramApi": {
          "id": "wa5tXStMQoLhJcWv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool to search the web, hackernews and wikipedia.",
        "workflowId": {
          "__rl": true,
          "value": "AzO8WgUy8aLHWFsh3oIRf",
          "mode": "list",
          "cachedResultUrl": "/workflow/AzO8WgUy8aLHWFsh3oIRf",
          "cachedResultName": "Section 7: Telegram Part 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        800,
        224
      ],
      "id": "8068f3e3-f83e-4b10-81b1-2f5f8ff25202",
      "name": "Search_Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f9775cd3-5041-4b46-b1f7-bbe09a4d59a9",
  "meta": {
    "instanceId": "c3ae1f15c1fd749e1ae1e7f13926191397e2c291d4f162c57f67ad7e54f784ff"
  },
  "id": "VEuKZjZxAm894hGWVCfEI",
  "tags": []
}