n8n/Section 5_ Auto Reply in Email.json
{
  "name": "Section 5: Auto Reply in Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "277f9888-00b6-48b1-b31c-53b59ffa5545",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "zWcOUAlEtZl2nyJz",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b53941a-8cf6-455e-a042-cda5d1b4ef0a",
              "name": "Email Context",
              "value": "=From: {{ $json.From }}\nSubject: {{ $json.Subject }}\nEmail Body: {{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "aa0ea458-c7e9-4809-88de-99bc74d96df0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=** Role: **\n\n\nYour task is to determine whether an email is having any action on me or just a general information.\n\nRespond with a JSON object containing the following fields:\n​\n- **isSponsorship:** Can be either \"true\" or \"false\"\n\n- **reasoning:** Explain your answer\n\nThink step by step about your response. Also, You are a JSON generator.\nReturn ONLY valid JSON that matches the following schema exactly:\n\n{\n\"type\": \"object\",\n\"properties\": {\n\"isSponsorship\": {\n\n\"type\": \"boolean\"\n},\n\"reasoning\": {\n\"type\": \"string\"\n}\n},\n\"required\": [\"isSponsorship\", \"reasoning\"]\n\n}\n\nRules:\n- Do not include Markdown formatting (no ```json fences).\n- Do not include any text before or after the JSON.\n- \"isAction\" must be a boolean value (true or false), not a string.\n- The \"reasoning\" should explain briefly why the email is or is not actionable.\n- The output must be valid JSON that can be parsed without modification.\n\nExample:\n{\n\"isSponsorship\": true,\n\"reasoning\": \"The email contains a request to make a payment by a specific deadline, which requires action.\"\n}\n\nNow, based on the email content provided, produce the JSON output.\n\n{{ $json['Email Context'] }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "ec950314-d444-462e-a79f-6f497428990b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "6ff28ce8-333c-474c-9628-173e680f4356",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mZtwwv4qEsqQF74d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"isSponsorship\": {\n\t\t\t\"type\": \"boolean\"\n\t\t},\n\t\t\"reasoning\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        224
      ],
      "id": "6d5508a4-cdfd-43db-8397-836b34157c86",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa56e1eb-7d90-4143-8e2a-c35d1a63452f",
              "leftValue": "={{ $json.output.isSponsorship }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        0
      ],
      "id": "5c639166-f0d6-44e1-9fa4-606349665f87",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        976,
        96
      ],
      "id": "185e1fe1-fa61-4bfd-b587-1aff390e66ef",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=**Role:**  \nYou work for a YouTube channel called *AI with Shubham*.  \nYour task is to respond to sponsorship inquiries by drafting a reply email.  \n\n**Task:**  \nCarefully review the email context below and write a friendly and professional email.  \nReturn only the **email body in HTML format**—do **not** include a header, only the body!  \nThe email should include details about sponsorship costs and conditions.  \n\n**Conditions:**  \n\n### Sponsorship Terms for the YouTube Channel *AI with Shubham*  \n\n#### **Channel Overview**  \n- **Channel Name:** AI with Shubham  \n- **Subscribers:** 15,000+  \n- **Average Views per Video:** 3,000 – 10,000  \n- **Content Focus:** Artificial Intelligence  \n\n#### **Sponsorship Pricing**  \n- **Standalone Video:** $800 – $1,300  \n- **Integrated Sponsorship Mention (60 seconds):** $600  \n\n#### **Additional Info**  \n*AI mit Arnie* only accepts sponsors that make sense for its target audience. In general, the channel rejects anything that does not provide real value to viewers and does not promote products that the creator does not personally use."
            },
            {
              "content": "=Email Context: {{ $('Edit Fields').item.json['Email Context'] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        976,
        -80
      ],
      "id": "bdc2b245-d10b-4b28-b9f7-32d358a3b7b6",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "mZtwwv4qEsqQF74d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1328,
        -80
      ],
      "id": "8b31ef6c-7d91-4d3d-8314-f888367adcc2",
      "name": "Reply to a message",
      "webhookId": "f41ce146-61fd-4236-8a94-496200c199a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "zWcOUAlEtZl2nyJz",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "09dd6446-19ea-4b74-8cc9-766113bad7e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ebf38dcdd1ae52af1f6a500356751ea7fc5173098ba39dcd678b1789f234f88"
  },
  "id": "wpq_HYbj-yZ2cL5kBwW0K",
  "tags": []
}