n8n/Section 7_ Telegram Part 2.json
{
  "name": "Section 7: Telegram Part 2",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "3d2012f2-41aa-4d02-9bc3-536f5f9150c3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a helpful research agent.\nYou use different tools to research the web. You've got access to Wikipedia, hackernews and the serpAPI. You can use any number of tools at a time you want to."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ae6422ac-1042-47e8-98ae-614752b7af72",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "65cba7ba-8aee-4008-9dbc-522fe04d2a97",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qN5WZwKkRdIk7puB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "2085ad83-5a76-4884-911b-f75baf2ad5f8",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "resource": "all",
        "limit": 20,
        "additionalFields": {
          "keyword": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keyword', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        464,
        304
      ],
      "id": "a1dfcbde-77c9-46eb-97af-ebfa9a69f898",
      "name": "Get many items in Hacker News"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        560,
        400
      ],
      "id": "45dbde35-c9eb-434f-947c-3c7c14176608",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "iYt4FbEgN3fZWNWI",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Anthropic"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many items in Hacker News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5b131549-8917-45d7-aa09-7930d4eea6fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3ae1f15c1fd749e1ae1e7f13926191397e2c291d4f162c57f67ad7e54f784ff"
  },
  "id": "AzO8WgUy8aLHWFsh3oIRf",
  "tags": []
}