n8n/Section 3_ Review.json
{
  "name": "Section 3: Review",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Review",
        "formDescription": "How satisfied are you?",
        "formFields": {
          "values": [
            {
              "fieldName": "Name",
              "fieldLabel": "What is your name?",
              "placeholder": "Your Name",
              "requiredField": true
            },
            {
              "fieldName": "Review",
              "fieldLabel": "What is your review?",
              "fieldType": "textarea",
              "placeholder": "Your Review",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -48,
        96
      ],
      "id": "bc84ad07-abfe-4712-91fb-a831ecab46b0",
      "name": "On form submission",
      "webhookId": "0b5a6d0a-3a52-4d2b-9495-1cd4b8c1af5d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Review }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert in sentiment analysis. You conduct evaluations and determine which of the three options applies:  Positive Negative Neutral  Reply with only one word"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        144,
        -112
      ],
      "id": "7c76ea9d-1a91-4a29-9c82-069066a884d6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        16
      ],
      "id": "5d676738-5462-4d82-9283-7bab594e98f7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mZtwwv4qEsqQF74d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        0
      ],
      "id": "2b32b03f-2bc3-404f-845d-82090e61fac1",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4",
          "mode": "list",
          "cachedResultName": "Created using n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Review": "={{ $json.text }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        0
      ],
      "id": "ac1190b7-42a3-492a-b7f2-d284a73cda06",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ERr7nFUe6DkXs1xV",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "19a2c757-f429-4984-add2-76e4c4951fa7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ebf38dcdd1ae52af1f6a500356751ea7fc5173098ba39dcd678b1789f234f88"
  },
  "id": "aVhRMtW9omflY0r8r5_rd",
  "tags": []
}