n8n/projects/Project2/Project 2.json
{
  "name": "Project 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5326a0d3-b863-434b-8bbd-5bcd8eb323a5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b6c31feb-6875-4c25-b6c8-07cc5504317f",
      "name": "Webhook",
      "webhookId": "5326a0d3-b863-434b-8bbd-5bcd8eb323a5"
    },
    {
      "parameters": {
        "jsCode": "for (let i = 0; i < items.length; i++) {\n  const root = items[i].json || {};\n\n  // Use webhook body if present (n8n webhook safety)\n  const data = root.body ?? root;\n\n  const errors = [];\n\n  // -----------------------------\n  // Validation\n  // -----------------------------\n  if (!data.name || String(data.name).trim() === \"\") {\n    errors.push(\"Name is required\");\n  }\n\n  const email = data.email ? String(data.email).trim().toLowerCase() : \"\";\n  if (!email || !/^\\S+@\\S+\\.\\S+$/.test(email)) {\n    errors.push(\"Valid email is required\");\n  }\n\n  if (!data.message || String(data.message).trim() === \"\") {\n    errors.push(\"Message is required\");\n  }\n\n  if (!data.source || String(data.source).trim() === \"\") {\n    errors.push(\"Source is required\");\n  }\n\n  // -----------------------------\n  // Normalization\n  // -----------------------------\n  const normalizedSource = data.source\n    ? String(data.source).trim().toLowerCase().replace(/\\s+/g, \"_\")\n    : \"\";\n\n  const emailDomain = email.split(\"@\")[1] || \"\";\n\n  const isBusinessEmail =\n    emailDomain &&\n    ![\"gmail.com\", \"yahoo.com\", \"outlook.com\", \"hotmail.com\"].includes(emailDomain);\n\n  // -----------------------------\n  // Cleaned Lead Object\n  // -----------------------------\n  const cleanedLead = {\n    name: String(data.name || \"\").trim(),\n    email,\n    company: data.company ? String(data.company).trim() : \"\",\n    message: String(data.message || \"\").trim(),\n    source: normalizedSource,\n    receivedAt: new Date().toISOString(),\n    requestId: \"req_\" + Math.random().toString(36).slice(2, 9),\n  };\n\n  // -----------------------------\n  // Metadata for AI + Routing\n  // -----------------------------\n  const metadata = {\n    messageLength: cleanedLead.message.length,\n    isBusinessEmail,\n    emailDomain,\n  };\n\n  // -----------------------------\n  // Output back to n8n\n  // -----------------------------\n  items[i].json.lead = cleanedLead;\n  items[i].json.metadata = metadata;\n  items[i].json.isValid = errors.length === 0;\n  items[i].json.errors = errors;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "e9459eb6-36d1-40ef-a2b5-d746af809f4b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "responseKey": "={\n  \"status\": \"error\",\n  \"errors\": {{$json.errors}}\n}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        272
      ],
      "id": "cef84493-87fa-437e-a8ef-d1295ea808c3",
      "name": "Respond to False"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        880,
        544
      ],
      "id": "527aef00-e6ff-40dd-bd4d-12e4ed91de02",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qN5WZwKkRdIk7puB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"score\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"intent\": {\n      \"type\": \"string\",\n      \"enum\": [\"Sales\", \"Support\", \"Partnership\", \"Spam\"]\n    },\n    \"summary\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"score\", \"intent\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        112
      ],
      "id": "f78c3598-0673-45fc-ada2-990b2696720a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc7955de-c6e4-4139-b9c8-2caade520047",
              "leftValue": "={{$json.isValid}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "2c16d079-090e-469c-9492-6c0bc15ca797",
      "name": "json.isValid?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce952b45-aba0-43aa-8bf9-991701536aac",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        -96
      ],
      "id": "bd22e912-1a22-4ea2-8683-a42ad2d58ad9",
      "name": "json.output.score==undefined"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1d2fec1-ad6f-4830-aa94-861f5d04db49",
              "name": "output.score",
              "value": 50,
              "type": "number"
            },
            {
              "id": "074e66a0-7f9c-4288-8f46-bb21cfc8fcf2",
              "name": "output.intent",
              "value": "ManualReview",
              "type": "string"
            },
            {
              "id": "34eec201-a7dc-4659-b826-5066aa966f5a",
              "name": "output.summary",
              "value": "AI output could not be parsed safely",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -192
      ],
      "id": "47640c5f-17a9-4a71-a458-c0fb8639b851",
      "name": "Set defaults"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "output.score, output.intent, output.summary",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        64
      ],
      "id": "135fad2f-1ed6-4f1f-9889-1144eb5ea1f2",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "67452ae1-1a2b-4530-a6d5-8bbcd860d0b8",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        176
      ],
      "id": "eb111965-ca21-474e-9584-a1d6c88df62b",
      "name": "score<40"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3c1ee33c-e299-4872-977a-c00ccdc4216e",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1536,
        64
      ],
      "id": "e09ba3d1-9d45-41b4-aca7-356bebd3d630",
      "name": "score>=80"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4",
          "mode": "list",
          "cachedResultName": "Created using n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1740739966,
          "mode": "list",
          "cachedResultName": "Project2 - Low Priority",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4/edit#gid=1740739966"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Request ID": "={{ $('json.isValid?').item.json.lead.requestId }}",
            "Name": "={{ $('json.isValid?').item.json.lead.name }}",
            "Email": "={{ $('json.isValid?').item.json.lead.email }}",
            "Message": "={{ $('json.isValid?').item.json.lead.message }}",
            "Source": "={{ $('json.isValid?').item.json.lead.source }}",
            "Received At": "={{ $('json.isValid?').item.json.lead.receivedAt }}",
            "Score": "={{ $('Merge').item.json.output.score }}",
            "Intent": "={{ $('Merge').item.json.output.intent }}",
            "Summary": "={{ $('Merge').item.json.output.summary }}"
          },
          "matchingColumns": [
            "Request ID"
          ],
          "schema": [
            {
              "id": "Request ID",
              "displayName": "Request ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Received At",
              "displayName": "Received At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        160
      ],
      "id": "a95b1c40-b241-4597-bb08-d5bbd118aef7",
      "name": "Low Priority Logging",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bM5rJWjtx2N0tqwj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lead Message:  {{ $json.lead.message }}\nLead Company: {{ $json.lead.company }}\nMessage Length: {{ $json.metadata.messageLength }}\nBusiness Email (True/False): {{ $json.metadata.isBusinessEmail }}\nLead Source: {{ $json.lead.source }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Analyze the following business lead.\n\nUse the provided output schema and return data that strictly conforms to it.\n\nEvaluate buying intent and seriousness.\n\nDo NOT include any extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        -96
      ],
      "id": "24e77a46-c3ed-4881-831b-9bf0993746a6",
      "name": "Generate Metadata AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Draft a follow-up email using the structured lead information below.\n\nLead name: {{ $('json.isValid?').item.json.lead.name }}\nLead intent: {{ $('Merge').item.json.output.intent }}\nLead score: {{ $('Merge').item.json.output.score }}\n\nLead summary (internal AI-generated context):\n{{ $('Merge').item.json.output.summary }}\n\nOriginal lead message:\n{{ $('json.isValid?').item.json.body.message }}\n\nGoals for the email:\n- Acknowledge the lead’s request\n- Reflect understanding using the provided summary\n- Ask clarifying questions about scope, timeline, and current tools\n- Encourage a reply without being salesy\n\nReturn only the email body text.\n",
        "options": {
          "systemMessage": "=You are a B2B sales assistant for a small AI automation agency.\n\nYour task is to draft a professional, friendly, and non-pushy follow-up email for inbound leads that show moderate interest and need further qualification.\n\nRules:\n- Keep the email under 120 words\n- Sound human and professional\n- Do not use buzzwords or emojis\n- Ask no more than 3 clarifying questions\n- Do not include a subject line\n- Do not use markdown\n- Do not sign with a name"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1840,
        624
      ],
      "id": "dc0dc01c-35b0-4ee4-b0c0-94b370b7f977",
      "name": "Draft Email AI Agent"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Follow Up ragarding your request (Request ID: {{ $('json.isValid?').item.json.lead.requestId }})",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2192,
        624
      ],
      "id": "78305263-400f-48e0-b405-33c3493a295b",
      "name": "Create a draft",
      "webhookId": "2588594d-ccd8-4ddc-93ec-e1713774fc82",
      "credentials": {
        "gmailOAuth2": {
          "id": "R8hisuZ3jlTWK3vd",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Merge').item.json.output.intent }}",
                    "rightValue": "Partnership",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "49a71c6b-50d2-4cad-b258-e9cd3501c1d4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "89761ac6-0ba9-421f-bb20-edcc51740a3a",
                    "leftValue": "={{ $('Merge').item.json.output.intent }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9e9490e-cce4-45b4-9140-ed4e8b19e563",
                    "leftValue": "={{ $('Merge').item.json.output.intent }}",
                    "rightValue": "Support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2400,
        624
      ],
      "id": "80bf3f6c-4a18-43f1-9682-e51a40ad4add",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Create a draft').item.json.message.id }}",
        "labelIds": [
          "Label_1417449956818264807"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2608,
        512
      ],
      "id": "8b870c03-b091-4084-9b6c-dfa804b73551",
      "name": "Partnership Label",
      "webhookId": "32895415-0e42-4880-a816-408925ea3ef7",
      "credentials": {
        "gmailOAuth2": {
          "id": "R8hisuZ3jlTWK3vd",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Create a draft').item.json.message.id }}",
        "labelIds": [
          "Label_1174734371193687173"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2608,
        672
      ],
      "id": "35010998-466d-4203-8caa-97cce284b6a7",
      "name": "Sales Label",
      "webhookId": "32895415-0e42-4880-a816-408925ea3ef7",
      "credentials": {
        "gmailOAuth2": {
          "id": "R8hisuZ3jlTWK3vd",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Create a draft').item.json.message.id }}",
        "labelIds": [
          "Label_221684067749773152"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2608,
        832
      ],
      "id": "38fd84f1-b65c-486a-b834-954bb306c7a0",
      "name": "Support Label",
      "webhookId": "32895415-0e42-4880-a816-408925ea3ef7",
      "credentials": {
        "gmailOAuth2": {
          "id": "R8hisuZ3jlTWK3vd",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4",
          "mode": "list",
          "cachedResultName": "Created using n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1278829835,
          "mode": "list",
          "cachedResultName": "Project2 - Medium Priority",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d74KOkVXK1Vn3pZh2s2q7ogobgCtZ6xVsxa5b1zCph4/edit#gid=1278829835"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Request ID": "={{ $('json.isValid?').item.json.lead.requestId }}",
            "Name": "={{ $('json.isValid?').item.json.lead.name }}",
            "Email": "={{ $('json.isValid?').item.json.lead.email }}",
            "Message": "={{ $('json.isValid?').item.json.body.message }}",
            "Source": "={{ $('json.isValid?').item.json.lead.source }}",
            "Received At": "={{ $('json.isValid?').item.json.lead.receivedAt }}",
            "Score": "={{ $('Merge').item.json.output.score }}",
            "Intent": "={{ $('Merge').item.json.output.intent }}",
            "Summary": "={{ $('Merge').item.json.output.summary }}",
            "Status": "=email_drafted"
          },
          "matchingColumns": [
            "Request ID"
          ],
          "schema": [
            {
              "id": "Request ID",
              "displayName": "Request ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Received At",
              "displayName": "Received At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3040,
        688
      ],
      "id": "63cc0dc7-8872-49f4-b994-41ff814baa6b",
      "name": "Medium Priority Logging",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bM5rJWjtx2N0tqwj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('json.isValid?').item.json.lead.email }}",
        "additionalFields": {
          "companyName": "",
          "firstName": "={{ $('Code in JavaScript').item.json.lead.name.split(\" \")[0]}}",
          "lastName": "={{ $('Code in JavaScript').item.json.lead.name.split(\" \")[1]}}",
          "leadStatus": "NEW",
          "lifeCycleStage": "salesqualifiedlead",
          "workEmail": "={{ $('Code in JavaScript').item.json.body.email }}"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1744,
        -32
      ],
      "id": "9c80da5b-0e4c-428b-a59f-15b71c71e3b8",
      "name": "Upsert Contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "gxZd6IKPgYe74HZa",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "stage": "qualifiedtobuy",
        "additionalFields": {
          "amount": "0",
          "associatedVids": "={{ $json['canonical-vid'] }}",
          "closeDate": "={{ new Date().toISOString() }}",
          "dealName": "=AI Qualified Lead –  {{ $json.properties.work_email.value }}",
          "pipeline": "default"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1952,
        -32
      ],
      "id": "3d116987-ab61-4c35-8cf7-c311466be10c",
      "name": "Create Deal",
      "credentials": {
        "hubspotAppToken": {
          "id": "gxZd6IKPgYe74HZa",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "update",
        "dealId": {
          "__rl": true,
          "value": "={{ $json.dealId }}",
          "mode": "id"
        },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "ai_intent",
                "value": "={{ $('score>=80').item.json.output.intent }}"
              },
              {
                "property": "ai_lead_score",
                "value": "={{ $('score>=80').item.json.output.score }}"
              },
              {
                "property": "ai_summary",
                "value": "={{ $('score>=80').item.json.output.summary }}"
              }
            ]
          },
          "dealOwner": {
            "__rl": true,
            "value": 87876073,
            "mode": "list",
            "cachedResultName": "jainshubham0403@gmail.com"
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        2160,
        -32
      ],
      "id": "edf0a42e-8d44-4772-b37e-60ded8b01b99",
      "name": "Update a deal",
      "credentials": {
        "hubspotAppToken": {
          "id": "gxZd6IKPgYe74HZa",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AD477N020",
          "mode": "list",
          "cachedResultName": "n8n-lead-generation"
        },
        "text": "=🔥 New AI-Qualified Lead  \n\nName:  {{ $('json.isValid?').item.json.body.name }}\nEmail: {{ $('json.isValid?').item.json.body.email }}\nScore: {{ $('score>=80').item.json.output.score }}\nIntent:   {{ $('score>=80').item.json.output.intent }}\n\nDeal created in HubSpot.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2368,
        -32
      ],
      "id": "8ee99af6-969d-4370-8cc2-57a65c936805",
      "name": "Send a message",
      "webhookId": "39a9c0af-6dcd-4578-a53e-befbf2929a58",
      "credentials": {
        "slackApi": {
          "id": "fQsIUbxlUlTdFzcG",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "json.isValid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Metadata AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Draft Email AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Metadata AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "json.isValid?": {
      "main": [
        [
          {
            "node": "Generate Metadata AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "json.output.score==undefined": {
      "main": [
        [
          {
            "node": "Set defaults",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set defaults": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "score>=80",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "score<40": {
      "main": [
        [
          {
            "node": "Low Priority Logging",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft Email AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "score>=80": {
      "main": [
        [
          {
            "node": "Upsert Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "score<40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Metadata AI Agent": {
      "main": [
        [
          {
            "node": "json.output.score==undefined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Email AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Partnership Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sales Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Support Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Partnership Label": {
      "main": [
        [
          {
            "node": "Medium Priority Logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Label": {
      "main": [
        [
          {
            "node": "Medium Priority Logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support Label": {
      "main": [
        [
          {
            "node": "Medium Priority Logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contact": {
      "main": [
        [
          {
            "node": "Create Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deal": {
      "main": [
        [
          {
            "node": "Update a deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a deal": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "44dc8840-eda9-43b2-a285-fa4c03ada3fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3ae1f15c1fd749e1ae1e7f13926191397e2c291d4f162c57f67ad7e54f784ff"
  },
  "id": "8vB7Ei02RQDNFttZ",
  "tags": []
}